body {
    background-color: white;
    margin-right: 15%;
    margin-left: 15%;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: #464645;
}

h1, h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #FFD500;
    text-align: center;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    color: #464645;
}

a {
    color: #FFD500;
}